@media (max-width: 1200px) {
  .row {
    padding: 0 4.6rem;
  }
  .nav-logo h3 {
    display: none;
  }
  .content-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 2rem;
  }
  .group {
    padding: 1.8rem 2rem;
  }
  /* .skill-img-container {
    display: flex;
    flex-direction: column;
  } */
  /* .skill-column-2 {
    display: flex;
    flex-direction: row;
  } */
  .content {
    /* background-color: red; */
    width: 45%;
  }
}
@media (max-width: 992px) {
  .skill-img-container {
    display: flex;
    flex-direction: column;
  }
  .skill-column-2 {
    display: flex;
    flex-direction: row;
  }
  .nav-logo h3 {
    display: none;
  }
  .nav-links {
    gap: 2rem;
  }
  .icons-links {
    display: none;
  }
  .email-link {
    display: none;
  }
  .content {
    background-color: var(--color-grey);
    transform: skew(0deg);
    outline: 0.5rem solid var(--color-red);
    box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, 0.332);
  }

  .content-text {
    transform: skewX(0deg);
  }
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  .image-container {
    width: 50%;
  }
}
@media (max-width: 870px) {
  .row {
    padding: 0 2rem;
  }
  .about-image {
    margin-top: 3rem;
  }
  .about-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .down-cent {
    text-align: center;
  }

  .nav-links {
    /* display: flex; */
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    border-top: 1px solid var(--color-white);
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    height: 100vh;
    width: 100%;
    transition: all 0.5s;
    background-color: var(--color-grey);
    display: none;
    animation: showMenu 0.4s ease forwards;
    /* opacity: 0;
      pointer-events: none;
      visibility: hidden; */
  }
  .nav-links.active {
    display: flex;
  }
  @keyframes showMenu {
    to {
      right: 0;
    }
  }

  /* .nav-open .nav-links {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    } */

  .hamburger-wrapper {
    display: flex;
  }

  .nav-links li {
    display: block;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .nav-links li a {
    font-size: clamp(var(1.4rem), 4vw, var(1.8rem));
  }
}
@media (max-width: 768px) {
  .im-overlay {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .im-overlay::after {
    background: #000000e6;
  }

  .project-img p {
    text-align: left;
  }
  .cont-right-bg {
    padding: 1.5rem;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  .project-img .proj-exp {
    position: relative;
    background-color: transparent;
    left: 0;
    padding: 0;
    font-size: 1.8rem;
    height: 80%;
    width: 100%;
    /* background-color: aqua; */
  }
  .project-img .title-port {
    right: 2%;
  }
  .project-img .skills-work {
    position: relative;
    bottom: 0;
  }
  .project-img .icons {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .skills-work ul {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: flex-end;
    text-align: right;
    /* background-color: green; */
  }
  .project-img {
    position: relative;
    width: 100%;
    height: 100%;
    /* display: flex;
    align-items: flex-start; */
    /* background-color: aliceblue; */
  }
  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
  }

  .title-port {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
  }
  .cont-division {
    display: flex;
    padding-left: 0;
    flex-direction: column-reverse;
    gap: 3rem;
  }
  .cont-left {
    width: 100%;
  }
  .cont-right {
    width: 100%;
  }

  .about-image img {
    width: 25rem;
    /* height: 25rem; */
    z-index: 1;
    background: #555555;
  }
  .content {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 80%;
    z-index: 12;
    transform: translate(-50%, -50%);
  }
  .content:hover {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 80%;
    z-index: 12;
    transform: translate(-50%, -50%);
    /* transform: skew(0deg); */
  }

  .image-container {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}
@media (max-width: 560px) {
  .im-overlay {
    height: 30rem;
  }
  .project-img {
    height: 30rem;
  }
  .proj-exp {
    background-color: red;
  }
}
@media (max-width: 470px) {
  .im-overlay {
    height: 40rem;
  }
  .project-img {
    height: 40rem;
  }
  .right-side {
    padding: 0;
  }

  .skill-img-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
  }
  .skill-column-2 {
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
  }
  .title,
  .text-left {
    font-size: 3.2rem;
    margin-bottom: 3rem;
    color: var(--color-text);
    letter-spacing: 1.45px;
  }
}
@media (max-width: 365px) {
  .cont-right-bg {
    padding: 1rem;
  }
}
